<div class="card">

    <h1>A propos</h1>
    <br>

    <p style="text-align: justify">

        Application réalisée par <a href="//github.com/CorentinTh">Corentin Thomasset</a> dans le cadre du cours
        "Sécurité et Réseaux" de l'INSA de Lyon. Elle comporte volontairement des fails XSS identifiées permettant
        la mise en pratique de cyber attaques. Utilisé dans un objectif d'apprentissage uniquement.

    </p>
    <br>
    <p style="text-align: center">
        <a href="/" class="button">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            Home
        </a>
    </p>


</div>

