<div class="card">

<h1>Login</h1>
<div class="row">
    <div class="col col-sm-12 col-lg-8 col-lg-offset-2">
        <form action="" method="post">
            <input type="text" placeholder="Identifiant" name="login" required >
            <input type="password" placeholder="Mot de passe" name="password" required style="margin: 10px 0">

            <div style="text-align: center">
                <button type="submit" class="button button-success">Login</button>
            </div>
        </form>
    </div>
</div>
</div>